<!DOCTYPE html>
<html lang="es">

<head>
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- RESPONSIVE -->
    <meta name="viewport"
        content="width=device-width, user scalable=no, initial-scale=1.0, maximun-scale=1.0, minimum-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <!-- BOOTSTRAP CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- ICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <!-- TITULO -->
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <!-- HEADER -->
    <header>
        <!-- LOGO EN HEADER -->
        <img src="/static/images/logo.png" width="45" class="img-fluid" alt="Logo Equipo">
        <!-- EQUIPO EN HEADER -->
        <h2>{% block content %} {% endblock %}</h2>
    </header>
    <!-- HEADER END -->
    {% block body %}

    {% endblock %}

    <!-- BOOTSTRAP JAVASCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e9c907996a.js" crossorigin="anonymous"></script>
</body>

</html>